body{
    /* font-size: 30px; */
    box-sizing: border-box;
}

.season-display {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.icon-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.winter{
    background-color: rgb(85, 199, 252);
}
.summer{
    background-color: rgb(247, 233, 49);
}  
